@namespace Ganesha.DesignLab.Shared.Components.DesignSystem.Navigation
@using Ganesha.DesignLab.Shared.Extensions

<CascadingValue Value="Separator" Name="BreadcrumbSeparator">
    <nav class="@_cssClass" aria-label="Breadcrumb">
        <ol class="gns-breadcrumb__list">
            @ChildContent
        </ol>
    </nav>
</CascadingValue>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Separator { get; set; } = "/";
    [Parameter] public string? AdditionalCssClass { get; set; }

    private string _cssClass => CssClassBuilder
        .Create("gns-breadcrumb")
        .AddClass(AdditionalCssClass)
        .Build();
}
