@namespace Ganesha.DesignLab.Shared.Components.DesignSystem.Layout
@using Ganesha.DesignLab.Shared.Extensions

<div class="@_cssClass">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public ContainerSize Size { get; set; } = ContainerSize.Default;
    [Parameter] public string? AdditionalCssClass { get; set; }

    private string _cssClass => CssClassBuilder
        .Create("gns-container")
        .AddClass("gns-container--sm",      Size == ContainerSize.Sm)
        .AddClass("gns-container--md",      Size == ContainerSize.Md)
        .AddClass("gns-container--lg",      Size == ContainerSize.Lg)
        .AddClass("gns-container--xl",      Size == ContainerSize.Xl)
        .AddClass("gns-container--full",    Size == ContainerSize.Full)
        .AddClass("gns-container--default", Size == ContainerSize.Default)
        .AddClass(AdditionalCssClass)
        .Build();
}
