@namespace Ganesha.DesignLab.Shared.Components.DesignSystem.Form
@using Ganesha.DesignLab.Shared.Extensions

<CascadingValue Value="this">
    <fieldset class="@_cssClass" aria-disabled="@IsDisabled.ToString().ToLower()">
        @if (!string.IsNullOrEmpty(Label))
        {
            <legend class="gns-radio-group__legend">@Label</legend>
        }
        <div class="gns-radio-group__options">
            @ChildContent
        </div>
    </fieldset>
</CascadingValue>

@code {
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string Name { get; set; } = $"gns-radio-{Guid.NewGuid():N}";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public bool IsDisabled { get; set; } = false;
    [Parameter] public string? AdditionalCssClass { get; set; }

    private string _cssClass => CssClassBuilder
        .Create("gns-radio-group")
        .AddClass("gns-radio-group--disabled", IsDisabled)
        .AddClass(AdditionalCssClass)
        .Build();

    internal async Task SelectOption(string optionValue)
    {
        if (IsDisabled) return;
        await ValueChanged.InvokeAsync(optionValue);
    }
}
