@namespace Ganesha.DesignLab.Shared.Components.DesignSystem.DataDisplay
@using Ganesha.DesignLab.Shared.Extensions

<span class="@_cssClass" role="status">
    @ChildContent
</span>

@code {
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
    [Parameter] public BadgeSeverity Severity { get; set; } = BadgeSeverity.Default;
    [Parameter] public BadgeSize Size { get; set; } = BadgeSize.Medium;
    [Parameter] public string? AdditionalCssClass { get; set; }

    private string _cssClass => CssClassBuilder
        .Create("gns-badge")
        .AddClass("gns-badge--default",  Severity == BadgeSeverity.Default)
        .AddClass("gns-badge--primary",  Severity == BadgeSeverity.Primary)
        .AddClass("gns-badge--success",  Severity == BadgeSeverity.Success)
        .AddClass("gns-badge--warning",  Severity == BadgeSeverity.Warning)
        .AddClass("gns-badge--danger",   Severity == BadgeSeverity.Danger)
        .AddClass("gns-badge--info",     Severity == BadgeSeverity.Info)
        .AddClass("gns-badge--sm",       Size == BadgeSize.Small)
        .AddClass("gns-badge--md",       Size == BadgeSize.Medium)
        .AddClass(AdditionalCssClass)
        .Build();
}
