.gns-container[b-33i6jpp48q] {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--gns-space-4);
}

.gns-container--default[b-33i6jpp48q] {
    max-width: 1280px;
}

.gns-container--sm[b-33i6jpp48q] {
    max-width: 640px;
}

.gns-container--md[b-33i6jpp48q] {
    max-width: 768px;
}

.gns-container--lg[b-33i6jpp48q] {
    max-width: 1024px;
}

.gns-container--xl[b-33i6jpp48q] {
    max-width: 1440px;
}

.gns-container--full[b-33i6jpp48q] {
    max-width: 100%;
}

@media (min-width: 640px) {
    .gns-container[b-33i6jpp48q] {
        padding-inline: var(--gns-space-6);
    }
}

@media (min-width: 1024px) {
    .gns-container[b-33i6jpp48q] {
        padding-inline: var(--gns-space-8);
    }
}
