@namespace Ganesha.DesignLab.Shared.Components.DesignSystem.Surfaces
@using Ganesha.DesignLab.Shared.Extensions

<div class="@_cssClass">
    @if (Header is not null)
    {
        <div class="gns-card__header">
            @Header
        </div>
    }
    <div class="gns-card__body">
        @ChildContent
    </div>
    @if (Footer is not null)
    {
        <div class="gns-card__footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public bool IsHoverable { get; set; } = false;
    [Parameter] public bool IsCompact { get; set; } = false;
    [Parameter] public string? AdditionalCssClass { get; set; }

    private string _cssClass => CssClassBuilder
        .Create("gns-card")
        .AddClass("gns-card--hoverable", IsHoverable)
        .AddClass("gns-card--compact", IsCompact)
        .AddClass(AdditionalCssClass)
        .Build();
}
